.component {
  padding: 1rem;
  border: .5rem solid dodgerblue;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;

  .title {
    margin: 0;
    color: dodgerblue;
  }

  .content {
    flex: 1 1 0;
    display: flex;
    margin: .5em 0;

    .available-pokemon {
      border-bottom: 1px solid lightgray;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    div, app-child {
      flex: 1 1 0;
      justify-content: center;
    }

    app-child {
      display: flex;
    }
  }
}


