<div class="component">
  <h2 class="title">Parent Component - Available Pokemon</h2>
  <div class="content">
    <div>
      <ng-container *ngFor="let pokemon of pokemonList$ | async">
        <div *ngIf="!selectedPokemon.includes(pokemon)"
             class="available-pokemon cursor-grab"
             pDraggable="drag-and-drop-pokemon-scope"
             (onDragStart)="dragStart($event, pokemon)"
             (onDragEnd)="dragEnd($event)">
          <span>{{ pokemon.name.toUpperCase() }}</span>
          <img [src]="pokemon.imageUrl" alt="">
        </div>
      </ng-container>
    </div>
    <app-child [selectedPokemon]="selectedPokemon" (onPokemonDropped)="pokemonDropped()"></app-child>
  </div>
</div>
