.application {
  min-height: 100vh;
  padding: 1rem;
  border: .5rem solid darkblue;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0 0 .5em 0;
  color: darkblue;

  a {
    margin-left: .5rem;
    font-size: small;

    em {
      margin-left: .25rem;
      font-size: x-small;
    }
  }
}

app-parent {
  flex: 1 1 0;
  display: flex;
}
