.component {
  padding: 1rem;
  border: .5rem solid darken(lavender, 20%);
  flex: 1 1 0;
  display: flex;
  flex-direction: column;

  .title {
    margin: 0;
    color: darken(lavender, 20%);
  }

  .content {
    flex: 1 1 0;
    display: flex;
    margin-top: 1rem;
    padding: 1rem;
    border: .1rem dotted black;

    .available-pokemon {
      border-bottom: 1px solid lightgray;
      display: flex;
      justify-content: center;
      align-items: center;

      em {
        font-size: x-small;
        margin-right: .5rem;
      }

    }

    .cursor-grab {
      cursor: move;
    }

    .cursor-grab:active {
      cursor: grabbing;
    }

    div {
      flex: 1 1 0;
    }
  }
}
